html, body {
	padding: 0px;
	margin: 0px;
	background: white;
	min-height: 100%;
	
}

.geral {
	margin: 0px;
	padding: 0px;
	height: 100%;
	min-width: 100%;
}

.footer {
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 2px solid greenyellow;
	text-align: center;
	width: 100%;
}


.btAddVideo{
	font-size: 110%;
	border-radius: 4px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	background: rgb(202, 60, 60);
}

.bt{
			font-size: 90%;
			color: white;
			border-radius: 4px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
			background: rgb(28, 184, 65);
}

.btnVerde{
/* 	background:  #00FF00; */
	background:  #43B312;
	
}

.btnVerdeClaro{
	
/* 	background:  #80BD00; */
	background:  #86E65C;
	
}
.btnBege{
/* 	background:  #80BD00; */
	background:  #808000;
}

.btnRoxo{
/* 	background:  #000000; */
	background:  #3A238D;
	
}

.btnAzul{
/* 	background:  #F70700; */
	background:  #121AB3;
}

.corVerde {
	background: #24b85b;
	color: white;
	border-color: #24b85b;
	
}

.corAzul {
	background: #027abd;
	color: white;
	border-color: #027abd;
}

.corVermelho {
	background: #c70200;
	color: white;
	border-color: #c70200;
}

.corBege{
	background: #d6b328;
	color: white;
	border-color: #d6b328;
}

.corLaranja {
	background: #ffac45;
	color: white;
	border-color: #ffac45;
}

.corLaranjaEscuro {
	background: #f60;
	color: white;
	border-color: #f60;
}

.corRoxo {
	background: #d360a5;
	color: white;
	border-color: #d360a5;
}

.corRosa {
	background: #f54d77;
	color: white;
	border-color: #9cc9ec;
}


.corClaro {
	background: #9cc9ec;
	color: white;
	border-color: #9cc9ec;
}



@media only screen and (min-width: 480px) { }


@media only screen and (min-width: 600px) { }


@media only screen and (min-width: 1200px) {

.corpo{
	width: 1000px;
	background: white;
	margin: auto;
	
}



.header {
	background: #9cc9ec;
	width:auto;
	height: 130px;
	border-bottom: 2px solid greenyellow;
}


.botoes{
	
	margin-top: 50px;
	padding-left:30px;
	height: 30px;	
	width:  450px;
	float: left;

}

.btnGrande{
	
	 width:150px;
	 height:30px; 
	 font:15px 'Ruda',sans-serif;
	
}


	
}


@media only screen and (min-width: 1366px) { 

.corpo{
	width: 1100px;
	background: white;
	margin: auto;
	
}



.header {
	background: #9cc9ec;
	width:auto;
	height: 150px;
	border-bottom: 2px solid greenyellow;
}



.botoes{
	
	margin-top: 80px;
	padding-left:60px;
	height: 60px;	
	width:  450px;
	float: left;

}

.btnGrande{
	
	 width:200px;
	 height:50px; 
	 font:18px 'Ruda',sans-serif;
	
}



}



