html, body {
	padding: 0px;
	margin: 0px;
	background: white;
	min-height: 100%;
}

.geral {
	margin: 0px;
	padding: 0px;
	height: 100%;
}

.corpo{
	width: 970px;
	margin: auto;
	background: white;
	min-height: 100%;
}

.container {
	width: 980px;
	margin: auto;
	background: white;
	height: 100%;
}

.header {
	/*background: url(../resources/imagens/fundo_header.png) repeat-x;*/
	background: white;
	width: auto;
	height: 150px;
	/*            border-top: 2px solid darkgray;*/
	border-bottom: 2px solid greenyellow;
}

.footer {
	position: absolute;
	bottom: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 2px solid greenyellow;
	text-align: center;
	width: 100%;
}

.btnVerde{
/* 	background:  #00FF00; */
	background:  #43B312;
	
}

.btnVerdeClaro{
	
/* 	background:  #80BD00; */
	background:  #86E65C;
	
}
.btnBege{
/* 	background:  #80BD00; */
	background:  #808000;
}

.btnRoxo{
/* 	background:  #000000; */
	background:  #3A238D;
	
}

.btnAzul{
/* 	background:  #F70700; */
	background:  #121AB3;
}

.corVerde {
	background: #24b85b;
	color: white;
	border-color: #24b85b;
}

.corAzul {
	background: #027abd;
	color: white;
	border-color: #027abd;
}

.corVermelho {
	background: #c70200;
	color: white;
	border-color: #c70200;
}

.corBege{
	background: #d6b328;
	color: white;
	border-color: #d6b328;
}

.corLaranja {
	background: #ffac45;
	color: white;
	border-color: #ffac45;
}

.corLaranjaEscuro {
	background: #f60;
	color: white;
	border-color: #f60;
}

.corRoxo {
	background: #d360a5;
	color: white;
	border-color: #d360a5;
}

.corRosa {
	background: #f54d77;
	color: white;
	border-color: #9cc9ec;
}


.corClaro {
	background: #9cc9ec;
	color: white;
	border-color: #9cc9ec;
}



