html, body {
	padding: 0px;
	margin: 0px;
	background: white;
	min-height: 100%;
}

.geral {
	margin: 0px;
	padding: 0px;
	height: 100%;
}

.corpo{
	width: 970px;
	margin: auto;
	background: white;
	min-height: 100%;
}

.container {
	width: 980px;
	margin: auto;
	background: white;
	height: 100%;
}

.header {
	/*background: url(../resources/imagens/fundo_header.png) repeat-x;*/
	background: white;
	width: auto;
	height: 150px;
	/*            border-top: 2px solid darkgray;*/
	border-bottom: 2px solid greenyellow;
}

.footer {
	position: absolute;
	bottom: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 2px solid greenyellow;
	text-align: center;
	width: 100%;
}